:root {
    --purple: hsla(268, 63%, 26%, 1);
    --green: hsla(148, 61%, 55%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --DarkPurple: hsla(268, 63%, 13%, 1);
    --black: hsla(0, 0%, 0%, 1);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
/* Section 2: Styling according to the figma design */

.hero-sec {
  width: 90%;
  margin: 0 auto;
  padding: 2em 0;
  text-align: center;
}

.download-apps {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-area: b;
  padding: 2em 0 1em 0;
}
.app-store {
  padding: 0 4em;
}
.hero-content {
  width: 75%;
  margin: 0 auto;
}

.hero-img {
  border-radius: 10px;
}

.image {
  margin: 2em auto;
}

.hero-img-desktop,
.hero-img-mobile {
  display: none;
}

.hero-content h1 {
  margin: 10px 0;
  color: #40196d;
  font-size: 60px;
  font-weight: 700;
  /* line-height: 60px; */
}

.hero-content strong {
  font-size: 45px;
  /* padding: 0 2em; */
  font-weight: 600;
  letter-spacing: 0.07em;
}
.hero-content p {
  font-size: 40px;
}

/* Tablet or Ipad view */

@media (max-width: 810px) and (min-width:380px) {
  .hero-sec {
    width: 90%;
    margin: 0 auto;
    padding: 2em 0;
  }

  .hero-img,
  .hero-img-mobile {
    display: none;
  }

  .hero-img-desktop {
    display: block;
    border-radius: 10px;
  }

  .hero-content {
    width: 100%;
  }

  .hero-content h1{
    font-size: 40px;
  }

  .hero-content strong{
    font-size: 30px;
  }

  .hero-content p{
    font-size: 20px;
    text-align: center;
    padding: 0 3em;
  }

  .download-apps{
    width: 100%;
    margin: 0 auto;
  }

  .app-store {
    padding: 0 2em;
  }

  .image{
    margin: 1em auto;
  }
}

/* Mobile view */
@media (max-width: 375px) {
  .hero-sec {
    /* grid-template-areas:
      "a c"
      "b b"; */
    text-align: left;
    width: 100%;
    margin: 3em 0;
    padding: 0 1em;
    height: 80vh;
  }

  .content{
    display: flex;
  }

  .hero-content {
    width: 50%;
    margin: 0;
    padding-right: 1em;
  }
  .hero-content h1 {
    font-size: 18px;
    font-weight: 700;

    line-height: 27px;
  }

  .hero-content strong {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.07em;
  }

  .hero-content p{
    font-size: 12px;
    line-height: 18px;
  }

  .image {
    /* width: 100%; */
  }

  .hero-img,
  .hero-img-desktop {
    display: none;
    width: 894px;
  }

  .hero-img-mobile {
    display: block;
    border-radius: 10px;
    /* width: 100%; */
  }

  .download-apps{
    padding: 0 5em;
  }

  .app-store{

  }
}

/* section4 style */

.section4 {
  /* border: 1px solid black; */
  color: var(--Darkpurple);
}
.partners-logo {
  /* border: 1px solid black; */
  position: relative;
  width: 100%;
  text-align: center;
  height: 30vh;
  padding-top: 10px;
  left: 0;
  top: 10px;
}
.partners-logo  h2 {
  font-size: 40px;
  font-weight: bolder;
}
.partners-logo  h5 {
  font-weight: bolder;
  font-size: 20px;
  color: var(--purple);
}
.partners-logo img {
  padding: 10px 95px 0 0;
}
.star-icon {
  display: inline;
  position: relative;
  top: 22px;
  left: 40%;
}
.rate {
  /* border: 1px solid; */
  position: relative;
  top: -35px;
  left: 15%;
}

.star-icon i {
  color: gold;
  /* border: 1px solid; */
}
.reviews {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-evenly;
  margin-top: 9px;
}
.reviews img {
  border-radius: 35%;
  margin: 20px 0 0 45px;
}
figcaption {
  font-size: medium;
  text-align: center;
}
.reviews p {
  font-size: small;
  text-align: center;
  line-height: normal;
}
.one {
 /*  border: 1px solid; */
  width: 13%;
  height: 30vh;
  border-radius: 15px;
  background-color: var(--purple);
  color: var(--white);
}
.two {
 /*  border: 1px solid; */
  width: 13%;
  height: 30vh;
  border-radius: 15px;
  background-color: var(--green);
  color: var(--white);
}
.three {
 /*  border: 1px solid; */
  width: 13%;
  height: 30vh;
  border-radius: 15px;
  background-color: var(--Darkpurple);
  color: var(--white);
}
.section4-p, .section4-p2 {
  text-align: center;
  font-weight: 500;
}

.fa-arrow-right {
  border: 1px solid;
  border-radius: 50%;
  padding: 1.5px;
}

/* SECTION 6 CSS */

.six {
    margin: 10px 0;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    width: auto;
}
 .six h1{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: var(--purple);
    line-height: 20px;
    letter-spacing: 0.07em;
}

.six-inner{
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
}

.six-inner h2{
    color: var(--purple);
    font-size: 20px;
    font-weight: 700;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.07em;
}

.six-inner h3{
    font-size: 15px;
    letter-spacing: 0.07em;
    color: var(--black);
    text-align: center;
    line-height: 38px;
}
.six .other{
    width: 32%;
}
.six .black{
    width: 32%;
}
.six .bank{
    width: 32%;
}

.six-inner .black{
    letter-spacing: 0.07em;
    background-color: var(--black);
    color: var(--white);
    margin: 20px auto;
    padding: 5px 30px;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
}

@media only screen and (max-width: 800px) {
    .six-inner h2{
        font-size: 29px;
        color: var(--purple);
    }
    .six-inner h3{
        font-size: 20px;
        line-height: 20px;
        display: block;
        text-align: left;
    }
    .bank h3{
        display: block;
        text-align: right;
    }
    .six-inner .black{
        background-color: var(--white);
        color: var(--purple);
        font-size: 20px;
        line-height: 16px;
        text-align: center;
    }    
}

@media only screen and (max-width: 600px) {
    .six-inner{
        display: flex;
        flex-direction: column;
    }
    .other{
        padding: 10px 120px;
    }
    .other h2{
        font-size: 23px;
    }
    .other h3{
        font-size: 20px;
    }
}

/* section 7 */
/* media query for mobile screen */
@media screen and (max-width:600px) {

    
body, main{
    background-color: var(--white);
    
}
.section7{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.section7 h3{
    color: var(--purple);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    width: 100%;
    line-height: 2;
}

.section7 p{
    color: var(--purple);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    width: 99%;
    line-height: 1.5;
}

.section7 .downloads{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    grid-auto-flow: row; 
    margin: 10px auto;
    padding:10px 185px 0 50px;
    width: 160%;
}

.downloads div img{
    width: 100%;
}

div img{
    border-radius: 5px;
}





}

/* Media query for tablets */
@media screen and (min-width:601px)and (max-width:900px) {
       
body, main{
    background-color:  var(--white);
    
}
.section7{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.section7 h3{
    color: var(--purple);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    width: 100%;
    line-height: 2;
}

.section7 p{
    color: var(--purple);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    width: 52%;
    margin: 0 auto;
    line-height: 1.5;
}

.section7 .downloads{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    grid-auto-flow: row; 
    margin: 10px auto;
    padding:10px 120px 0 228px;
    width: 100%;
    
}

.downloads div img{
    width: 100%;
}

div img{
    border-radius: 5px;
}



    
}


/* Media query for desktop view */
@media screen and (min-width:901px){
    

       
body, main{
    background-color:  #F5F5F5;
    
}
.section7{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  
}

.section7 h3{
    color: var(--purple);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    width: 100%;
    line-height: 2;
}

.section7 p{
    color: var(--purple);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    width: 35%;
    margin: 0 auto;
    line-height: 1.5;
}

.section7 .downloads{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    grid-auto-flow: row; 
    margin: 10px auto;
    padding:10px 30px 0 147px;
    width: 50%;
}

.downloads div img{
    width: 100%;
}

div img{
    border-radius: 5px;
}


}

/* footer styling */

.whole-footer{
 width: 100%;
 height: 470px;
 background-color: var(--purple);
}
#whole-footer{
 padding: 60px 100px 0px 70px ;
}
a{
 text-decoration: none;
 color: var(--white);
}
a:hover{
 cursor: pointer;
}

#logo > img{
 width: 70px;
 height: 70px;
 border-radius: 50px;
}
.products-list, .contact-list, .about-list{
 display: flex;
 flex-direction: column;
}
.list-items{
 display: flex;
 justify-content: space-between;
 padding: 40px 100px 40px 50px;
}
.search-area, .subscribe-area{
 width: 400px;
 background-color: var(--white);
 height: 30px;
 border-radius: 5px;
 padding-left:5px ;
 border: 0px;
 outline: none;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.fa-solid{
 color: var(--Darkpurple);
}
#search, #mail{
 width: 200px;
 border: none;
 outline: none;
 padding-left: 10px;
}
#search-btn, #subscribe-btn{
 height: 30px;
 width: 100px;
 margin-right: -14px;
 background-color: var(--Darkpurple);
 border: 0px;
 color: var(--white);
 border-radius: 5px;
 font-size: 14px;
 padding-left: 10px;
 padding-right: 10px;
}
.footer-top{
 display: flex;
 justify-content: space-between;
}
.newsletter-area{
 padding-top: 50px;
}
.privacy-list{
 display: flex;
 justify-content: space-around;
 width: 30%;
}
.footer-bottom{
 display: flex;
 justify-content: space-between;
 background-color: var(--Darkpurple);
 height: 50px;
 align-items: center;
 width: 100%;
 padding: 0px 100px 0px 70px ;
 margin-top: 50px;

}

@media only screen and (max-width:1000px) {

/* section4 style */

.partners-logo {
  height: 25vh;
}
.partners-logo  h2 {
  font-size: 30px;
  font-weight: bolder;
}
.partners-logo  h5 {
  font-size: 15px;
}
.partners-logo img {
  padding: 1px;
  height: 40px;
}
.star-icon {
  left: 20%;
}
.rate {
  left: 35%;
}

.one {
  width: 30%;
  background-color: var(--purple);
}
.two {
  width: 30%;
  background-color: var(--green);
}
.three {
  width: 30%;
  background-color: var(--Darkpurple);
}


 #whole-footer{
  padding: 60px 30px 0px 30px ;
 }
 .search-area, .subscribe-area{
  width: 300px;
 }
 #search, #mail{
  width: 150px;
  font-size: 14px;
 }
 #search-btn, #subscribe-btn{
  width: 80px;
 }
 .privacy-list{
  width: 50%;
 }
}
@media only screen and (max-width:700px) {
 body{
  font-size: 14px;
 }
/* section4 style */

.partners-logo {
  height: 25vh;
}
.partners-logo  h2 {
  font-size: 30px;
  font-weight: bolder;
}
.partners-logo  h5 {
  font-size: 15px;
}
.partners-logo img {
  padding: 1px;
  height: 40px;
}
.star-icon {
  left: 20%;
}
.rate {
  left: 35%;
}

.one {
  width: 30%;
  background-color: var(--purple);
}
.two {
  width: 30%;
  background-color: var(--green);
}
.three {
  width: 30%;
  background-color: var(--Darkpurple);
}

 .footer-top{
  display: flex;
  flex-direction: column;
 }
 .about-list{
  display: none;
 }
 .list-items{
  padding: 40px 0px 40px 0px;
 }
 .footer-bottom{
  padding: 0px 30px 0px 30px ;
 }
 .privacy-list{
  width: 70%;
 }
 .whole-footer{
  height: 580px;
 }
}
@media only screen and (max-width:450px) {
 body{
  font-size: 12px;
 }
}
@media only screen and (max-width:350px) {
 .footer-bottom{
  padding: 0px 5px 0px 5px ;
  font-size: 10px;
 }
 body{
  font-size: 10px;
 }
 #whole-footer{
  padding: 60px 10px 0px 10px ;
 }
 .search-area, .subscribe-area{
  width: 230px;
 }
 #search, #mail{
  width: 100px;
 }
 #search-btn, #subscribe-btn{
  width: 75px;
 }
 #search-btn, #subscribe-btn{
  font-size: 10px;
 }
}
